.terminal-bar {
  background-color: rgb(56, 52, 59);

  @apply rounded-t-lg drop-shadow-lg;
}

.terminal {
  background-color: rgb(30, 30, 30);
  border-width: 1px;
  border-color: rgb(63, 63, 63);

  @apply rounded-lg shadow-2xl shadow-purple-600;
}